html {
  font-family: 'Roboto Slab', serif;
}

.spacer {
  margin-top: 20px; /* define margin as you see fit */
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.feature {
  fill: #777;
}
