html {
  font-family: 'Roboto Slab', serif;
}

.spacer {
  margin-top: 20px; /* define margin as you see fit */
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.text_found {
  color: green;
}

.text_notfound {
  color: red;
}

.force_found {
  fill: #31a354;
  color: #31a354;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.force_notfound {
  fill: #d62728;
  color: #d62728;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.similarity {
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.feature {
  fill: #d9d9d9;
}

.hidden {
  display: none;
}

div.tooltip {
   color: #222;
   background-color: #fff;
   padding: .5em;
   text-shadow: #f5f5f5 0 1px 0;
   border-radius: 2px;
   opacity: 0.9;
   position: absolute;
 }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #222;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
